.btn{
    display: inline-block;
    line-height: 1;
    padding: .5rem 1rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.75rem;

    @mixin smallScreen{
        font-size: 0.915rem;
    }
    @mixin largeScreen{
        padding: .75rem 1.5rem;
    }

    &-blue{
        color: #fff;
        background-color: $mainBlue;
    }
    &-white:hover{
        background-color: $steelBlue;
        color: $white;
        transition: color 500ms ease-in-out;
    }

    &:hover{
        background-color: $btnHoverBlue;
        transition: background-color 700ms linear;
    }
    &-white{
        color: $mainBlue;
        background-color: $white;   
    }

}